<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.yumig.mkmj">

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".TotalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_mkmj"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 分属app_id -->
        <meta-data
            android:name="app_id"
            android:value="8888"/>
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56e147cbe0f55ac874000a7e"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.MainTestActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.SetNickNameActivity"/>
        <activity android:name=".activity.ChoseHeadImgActivity"/>
        <activity android:name=".test.GankTestActivity"/>
        <activity android:name=".order.OrderDetailsActivity"/>
        <activity android:name=".order.RefundServiceActivity"/>
    </application>

</manifest>